// .item-photos {
//   border-radius: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 350px;
//   margin-left: -750px;
// }

// .items-display-info {
//   display: flex;
//   flex-wrap: wrap;
//   height: calc(100vh - 100px);
//   justify-content: space-evenly;
//   padding: 10px;
// }

// .item-display-info {
//   display: flex;
//   position: relative;
//   background: white;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px;
//   border: solid;
//   border-width: 0.5px;
// }
// .item-photos div {
//   flex: 0 0 33.333333%;
// }

// .item-capt-title {
//   text-align: start;
// }

// .item__container {
//   display: flex;
//   flex-direction: column;
//   z-index: 1;
//   background-color: white;
//   align-items: center;
// }

// .item__container > a {
//   max-height: 200px;
//   width: 100%;
//   object-fit: contain;
// }

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
  max-height: 1500px;
  min-width: 400px;
  max-width: 500px;
  overflow: hidden;
  flex-shrink: 1;
}

.item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.item__title {
  height: 100px;
  margin-bottom: 50px;
}

.item__info {
  max-height: 30px;
  font-weight: bold;
  font-size: 24px;
}
.item__row {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  flex-basis: 1500px;
  flex-grow: 0;
  flex-shrink: 0;
}

.item > img {
  width: 100%;
  object-fit: contain;
  flex-grow: 1;
}
