// .item-photos {
//   border-radius: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 350px;
//   margin-left: -750px;
// }

// .items-display-info {
//   display: flex;
//   flex-wrap: wrap;
//   height: calc(100vh - 100px);
//   justify-content: space-evenly;
//   padding: 10px;
// }

// .item-display-info {
//   display: flex;
//   position: relative;
//   background: white;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px;
//   border: solid;
//   border-width: 0.5px;
// }
// .item-photos div {
//   flex: 0 0 33.333333%;
// }

// .item-capt-title {
//   text-align: start;
// }

// .item__container {
//   display: flex;
//   flex-direction: column;
//   z-index: 1;
//   background-color: white;
//   align-items: center;
// }

// .item__container > a {
//   max-height: 200px;
//   width: 100%;
//   object-fit: contain;
// }
// @import "typeface-lato";

// .item {
//   display: flex;
//   flex-direction: column;
//   background-color: white;
//   z-index: 1;
//   align-items: center;
//   justify-content: center;
//   margin: 10px;
//   max-height: 1500px;
//   min-width: 400px;
//   max-width: 500px;
//   overflow: hidden;
//   flex-shrink: 1;
// }
.item {
  position: relative;
  border: 1px solid;
  border-radius: 2px;
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  flex-grow: 1;
  height: 400px;
  min-width: 310px;
  overflow: hidden;
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px rgb(179, 179, 179);
  justify-content: center;
  align-items: center;
}
.item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.item__name {
  margin-bottom: 30px;
  color: gray;
  text-align: center;
}

.item__title {
  top: 10px;
  right: 20px;
  padding: 10px;
  position: absolute;
  border-width: 0.5px;
  height: 25px;
  font-family: lato;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

.item__info {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px;
  max-width: 300px;
  margin-right: auto;
  border-width: 0.5px;
}
.item__row {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  flex-basis: 1500px;
  flex-grow: 0;
  flex-shrink: 0;
}

.item > img {
  width: 100%;
  object-fit: contain;
  flex-grow: 1;
}

// .item__container {
//   height: 800px;
//   display: flex;
// }

.itemIndex__container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  flex-basis: 1500px;
  flex-grow: 0;
  flex-shrink: 0;
}
