// @import "typeface-lato";

.items-display-info {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.item-display-info {
  display: flex;
  position: relative;
  background: gray;
  flex-direction: column;
  align-items: center;
}

.item__row {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 1;
  background: white;
  margin-bottom: 20px;
  border: solid gray;
  border-width: 0.5px;
  border-radius: 3px;
}
