.login-or-signup{
   font-size: 20px;
   margin-top: 140px;
   font-family: monospace;
 }
 

.login-form-container{
   text-align: center;
   margin-top: 500px;
        position: absolute;
    margin-left: -760px;
 }

 button.logout{
   text-align: center;
 }


 


.signup-form-container{
   justify-content: center;
   display: flex;
   margin-top: 100px;
   

 }
 .login-form{
   display: flex; 
   justify-content: center;
   flex-direction: column;
    
 }

 .login-form-box{
   outline: 1px solid lightblue;
   padding: 20px;
   background-color: aliceblue;
 }

 .signup-form-box{
   outline: 1px solid lightblue;
   padding: 20px;
 }

 .login-input{
   font-size: 15px;
   margin-left: 15px;
 }
 .signin-input{
   font-size: 15px;
   margin-left: 15px;
 }

.form-descriptor{
   font-family: monospace; 
}

input.submit-button{
   color: white;
   background-color: black;
   border-radius: 5px;
   text-transform: uppercase;
   padding: 10px;
}

ul {
   list-style: none;
}

.errors{
   padding: 25px;
}