// .login-or-signup{
//    font-size: 20px;
//    margin-top: 140px;
//    font-family: monospace;
//  }
 

// .login-form-container{
//    text-align: center;
//    margin-top: 500px;
//         position: absolute;
//     margin-left: -760px;
//  }

//  button.logout{
//    text-align: center;
//  }


 


// .signup-form-container{
//    justify-content: center;
//    display: flex;
//    margin-top: 100px;
   

//  }
//  .login-form{
//    display: flex; 
//    justify-content: center;
//    flex-direction: column;
    
//  }

//  .login-form-box{
//    outline: 1px solid lightblue;
//    padding: 20px;
//    background-color: aliceblue;
//  }

//  .signup-form-box{
//    outline: 1px solid lightblue;
//    padding: 20px;
//  }

//  .login-input{
//    font-size: 15px;
//    margin-left: 15px;
//  }
//  .signin-input{
//    font-size: 15px;
//    margin-left: 15px;
//  }

// .form-descriptor{
//    font-family: monospace; 
// }

// input.submit-button{
//    color: white;
//    background-color: black;
//    border-radius: 5px;
//    text-transform: uppercase;
//    padding: 10px;
// }

// ul {
//    list-style: none;
// }

// .errors{
//    padding: 25px;
// }

.outermost-login-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container{
 display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: dotted;
  padding: 30px;
  position: absolute;
  border: solid #6c6868;
  border-radius: 3px;
  border-width: .5px;
}

.whole-form{
  padding: 100px;
  display: flex;
  justify-content: center;
}

.logo-auth{
  padding: 50px;
  text-align: center;
}

.login-form-header {
  font-size: 28px;
}

.form-descriptor{
  font-size: larger;
  text-align: left;
  font-weight: 400;
  line-height: 3;
}

li {
  list-style: none;
}
li .errors {
  list-style: none;
  font-size: small;
  color: red;
}

.login-form-main{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.login-form-footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  color: black;
  border-style: none;
  width: 100%;
  padding-top: 5px;
  border-radius: 3px;
  padding-bottom: 5px;
}