// .logo{
//    text-align: left;
//    box-sizing: content-box;
//  }

//  .login-form-container{
//    text-align: center;
//    margin-top: 500px;
//     position: relative;
//     // margin-left: -760px;
//  }

//  .nav-bar {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-evenly;
//    background-color: red;
// }

// .searchbar {
//    margin-top: 60px;
// }

// li {
//    list-style: none;
// }

// .photo-full-capts{
//    max-width: 260px;
//    text-align: center;
// }

.home__container {
  background: #e7e7e7;
}

.home {
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.splash-photos {
  padding: 10px;
}

.home__container > img {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: linear-gradient(178deg, #f5e4e4, #bc1e1e00);
}

.searchBar {
  display: flex;
  align-items: baseline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #37475a;
  color: white;
  font-family: lato;
}

.footer > div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer:hover {
  cursor: pointer;
  background: #485769;
}

.bigFooter {
  // padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #131a22;
  font-family: lato;
}

.footerInfo {
  // padding: 10px;
  text-align: center;
}

// .footer > div {
//   padding: 100px;
// }

.under__navBar {
  padding: 5px;
}

.under__navBar > option__one {
  margin-bottom: 5px;
}
